
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%= info.siteName %></title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">


   	<!--Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- Propeller css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <link href="lib/noty.css" rel="stylesheet"></script>
    <link href="main/css/styles.css" rel="stylesheet">
    <style>

    .notie-container {
      z-index: 999;
    }

    </style>
  </head>

  <body>
    <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo center"><%= info.siteName %></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="hide-on-med-and-down">
            <li><a href="sass.html">Main</a></li>
            <li><a href="badges.html">Something</a></li>
            <li><a href="collapsible.html">Withdraw</a></li>
            <li><a href="mobile.html">Upgrade < /></a></li>
          </ul>
          <ul class="right">
            <% if(user){ %>
              <li><a class="waves-effect waves-light   valign-wrapper" style="background-color: red;" href="/logout"><i  class="tiny material-icons">input</i></a></li>
            <% }else{ %>
              <li><a class="waves-effect waves-light   valign-wrapper"  style="background-color: green;" href="/auth/steam"><i class="tiny material-icons">input</i></a></li>
            <% } %>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="sass.html">Something</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
          </ul>
        </div>
      </nav>
      <% if(user){ %>
      <div class="col s12 m8 offset-m2 l6 offset-l3 right">
  <div class="card-panel grey lighten-5 z-depth-1" style="padding: 0">
    <a href="/account"><div class="row valign-wrapper">
      <div class="col">
        <img src=<%= user._json.avatarmedium %> alt="" class="circle responsive-img">
      </div>
      <div class="col s10">
        <span class="black-text truncate">
          <%= user._json.personaname %>
        </span>
        <span><%= user._json.steamid %></span>
      </div>
    </div></a>
  </div>
</div>

<% } %>
<%+ yield('content') %>
<!-- Scripts  -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

<script src="https://unpkg.com/notie"></script>

  </body>
</html>
