
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%= info.siteName %></title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">

    <!-- Bootstrap css-->
  <style>
html{
  color: white;
}
  </style>
   	<!--Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.metroui.org.ua/css/metro.min.css" />
    <link rel="stylesheet" href="http://cdn.metroui.org.ua/css/metro-icons.min.css" />


    <!-- Propeller css -->
    <link href="lib/noty.css" rel="stylesheet"></script>
    <link href="main/css/styles.css" rel="stylesheet">
    <style>

    .notie-container {
      z-index: 999;
    }

    </style>
  </head>

  <body>
    <div class="app-bar" data-role="appbar" data-flexstyle="sidebar2" style="background: rgba(0, 0, 0, 0.29);">

                    <a class="app-bar-element branding"><%= info.siteName %></a>

                    <ul class="app-bar-menu">
                        <li data-flexorderorigin="0" data-flexorder="1"><a href="">Home</a></li>
                        <li data-flexorder="2" data-flexorderorigin="1"><a href="">Deposit</a></li>
                        <li data-flexorder="1" data-flexorderorigin="2"><a href="">Withdraw</a></li>
                        <li data-flexorderorigin="3" data-flexorder="4">
                            <a href="" class="dropdown-toggle">Modes</a>
                            <ul class="d-menu" data-role="dropdown">
                                <li><a href="">Roulette</a></li>
                                <li><a href="">Upgrade</a></li>


                            </ul>
                        </li>
                    </ul>
                    <% if(user){ %>
                      <div class="place-right app-bar-element">
                        <a href="/logout"> <button type="button" name="button" class="button danger block-shadow-danger text-shadow"><span class="mif-enter"></span></button></a>
                      </div>
                      <div class="place-right app-bar-element">
                        <a class="dropdown-toggle">
                        <img src=<%= user._json.avatar %> alt="">
                        <%= user._json.personaname.substr(0,20)+'...  '%>
                        </a>
<!--  -->
<div class="app-bar-drop-container bg-white fg-dark place-right"
                data-role="dropdown" data-no-close="true">
            <div class="padding20">
            <a href="/account"><button type="button" class="button success block-shadow-success text-shadow" name="button">My account info</button></a>
            </div>
        </div>


<!--  -->

                      </div>

                    <% }else{ %>
                      <div class="app-bar-element place-right">
                        <a href="/auth/steam/"><button class="button success block-shadow-success text-shadow">Sign in</button></a>

                      </div>

                      <% }%>
                <div class="clearfix" style="width: 0;"></div><nav class="app-bar-pullmenu hidden flexstyle-sidebar2" style="display: none;"><ul class="app-bar-pullmenubar hidden sidebar2"></ul><ul class="app-bar-pullmenubar sidebar2" style="display: block;"><li data-flexorderorigin="0" data-flexorder="1" class="app-bar-pullmenu-entry">
                            <div class="input-control text">
                                <input type="text" placeholder="Search...">
                            </div>
                        </li></ul></nav></div>
                        <%+ yield('content') %>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>

<script src="http://cdn.metroui.org.ua/js/metro.min.js"></script>
<script src="https://unpkg.com/notie"></script>

  </body>
</html>
