
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%= info.siteName %></title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">

    <!-- Bootstrap css-->

   	<!--Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.22/css/uikit.min.css" />

    <!-- Propeller css -->
    <link href="lib/noty.css" rel="stylesheet"></script>
    <link href="main/css/styles.css" rel="stylesheet">
    <style>

    .notie-container {
      z-index: 999;
    }

    </style>
  </head>

  <body>
		<!--  -->
		<!-- Basic fixed sidebar -->

		<!-- Nav menu -->
		<nav class="navbar navbar-inverse pmd-navbar navbar-fixed-top pmd-z-depth" style="position:absolute;">
		  <div class="container-fluid">
		      <!-- Sidebar Toggle Button-->
		      <!-- Brand and toggle get grouped for better mobile display -->
		      <div class="navbar-header">
		          <a href="javascript:void(0);" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary pull-left margin-r8 pmd-sidebar-toggle"><i class="material-icons">menu</i></a>
		          <a class="navbar-brand" href="javascript:void(0);"><%= info.siteName %></a>
		      </div>

		      <!-- Navbar Right icon -->
		      <div class="pmd-navbar-right-icon pull-right">
		          <a href="javascript:void(0);" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary"><i class="material-icons pmd-sm">search</i></a>
		          <a href="javascript:void(0);" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary topbar-toggle visible-xs-inline-block" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><i class="material-icons pmd-sm">more_vert</i></a>
		      </div>
		  </div>
		</nav>

		<!-- Sidebar -->
		<section id="pmd-main">
		    <!-- Left sidebar -->
		    <aside class="pmd-sidebar sidebar-custom sidebar-default pmd-sidebar-left-fixed pmd-sidebar-left pmd-z-depth sidebar-hide-custom" role="navigation" style="position: absolute;">
		        <ul class="nav pmd-sidebar-nav">
		            <!-- My Account -->
								<% if(user){ %>
		            <li class="dropdown pmd-dropdown pmd-user-info">
		                <a aria-expanded="false" data-toggle="dropdown" data-sidebar="true" class="btn-user dropdown-toggle media" href="javascript:void(0);">
		                    <div class="media-left">
		                        <img width="40" height="40" alt="avatar" src=<%= user._json.avatar%>>
		                    </div>
		                    <div class="media-body media-middle"><%= user._json.personaname.substr(0,20)+'...' %></div>
		                    <div class="media-right media-middle"><i class="material-icons pmd-sm">more_vert</i></div>
		                </a>
		                <ul class="dropdown-menu">
		                    <li> <a class="pmd-ripple-effect" href="/account" tabindex="-1"><i class="material-icons media-left media-middle">person</i> <span class="media-body">View Profile</span></a></li>
		                    <li> <a class="pmd-ripple-effect" href="javascript:void(0);" tabindex="-1"><i class="material-icons media-left media-middle">settings</i> <span class="media-body">Settings</span></a></li>
		                    <li> <a class="pmd-ripple-effect" href="/logout" tabindex="-1"><i class="material-icons media-left media-middle">history</i> <span class="media-body">Logout</span></a></li>
		                </ul>
		            </li>
								<% }else{ %>
									<a href='/auth/steam'><button class="btn btn-lg pmd-btn-raised pmd-ripple-effect btn-primary" type="button">Login</button></a>
								<% } %>
		            <li> <a class="pmd-ripple-effect" href="javascript:void(0);"><i class="material-icons media-left media-middle">delete</i> <span class="media-body">Trash</span></a> </li>
		            <li> <a class="pmd-ripple-effect" href="javascript:void(0);"><i class="material-icons media-left media-middle">notifications</i> <span class="media-body">Spam</span></a> </li>
		            <li> <a class="pmd-ripple-effect" href="javascript:void(0);"><i class="material-icons media-left media-middle">notifications</i> <span class="media-body">Follow Up</span></a> </li>
		        </ul>
		    </aside>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		    <!-- Content -->
		    <div class="pmd-content" id="content">
          <%+ yield('content') %>
           </div>
		    <div class="pmd-sidebar-overlay"></div>
		</section>

<!--  -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.22/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.22/js/uikit-icons.min.js"></script>
<script src="https://unpkg.com/notie"></script>

  </body>
</html>
