<%+ extend('template') %>

<%+ section('content') %>
<% if(user){ %>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.0/css/select.dataTables.min.css">
<link rel="stylesheet" href="http://propeller.in/components/data-table/css/pmd-datatable.css">

<script type="text/javascript" src="main/js/app_account.js"></script>
<div class="container">
<div class="row">
     <div class="col s12 center">
       <div class="card">
           <div class="card-content">
             <p>All your inventory skins on one page</p>
           </div>
           <div class="card-tabs">
             <ul class="tabs tabs-fixed-width">
               <li class="tab"><a href="#test4" class="active" >CS:GO</a></li>
               <li class="tab"><a  href="#test5" id="dota2_ajax">Dota 2</a></li>
               <li class="tab"><a href="#test6" id="pubg_ajax">PUBG</a></li>
             </ul>
           </div>
           <div class="card-content grey lighten-4">
             <div id="test4">
               <div class="row">
                   <% for(var i = 0; i<inv_csgo.length; i++){ %>
                <div class=" col s4">
                   <div class="item">
                     <span class="hide"><%= inv_csgo[i].assetid %></span>
                     <div class="header">
                       <%= inv_csgo[i].name %>
                     </div>
                      <img style="width: 50px; height: 50px;" src=<%= inv_csgo[i].icon_url %> alt="">
                    <div class="price">
                      <%= inv_csgo[i].price %>
                    </div>
                  </div>
                </div>
                  <% } %>
               </div>
<!-- cs go --> <button type="button" class="btn btn-large waves-effect waves-light " name="button" id="deposit_csgo">Deposit CSGO Items</button>
             </div>
             <div id="test5">
<!-- dota 2 -->
            <div class="row">

            </div>

             </div>
             <div id="test6">
<!-- pubg -->
              <div class="row">

              </div>
             </div>
           </div>
         </div>
     </div>

   </div>
</div>
<% } else {%>
<h1>Please log in!</h1>
<% } %>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="/main/js/app-account.js"></script>
<%+ endSection %>
