  <%+ extend('template') %>

<%+ section('content') %>
<% if(user){ %>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.0/css/select.dataTables.min.css">
<link rel="stylesheet" href="http://propeller.in/components/data-table/css/pmd-datatable.css">
<div class="">
<!-- Default card starts -->
<div class="pmd-card pmd-card-default pmd-z-depth">

	<!-- Card header -->
    <div class="pmd-card-title">
        <div class="media-left">
            <a class="avatar-list-img" href="javascript:void(0);">
                <img src=<%= user._json.avatar%> width="40" height="40">
            </a>
        </div>
        <div class="media-body media-middle">
            <a target="_blank" href=<%= user._json.profileurl%>><h3 class="pmd-card-title-text"><%= user.displayName %> </h3></a>
						<span class="pmd-card-subtitle-text"><%= user._json.steamid %></span>
        </div>
    </div>

    <!-- Card media -->
    <div class="pmd-card-media scrollbar" id="style-4" style="height: 400px;overflow: auto;">
        <div style="overflow-y:auto;">
<!--  -->
<div id="container" style="overflow: hidden;">

  <div class="pmd-card pmd-z-depth" >

    <div class="table-responsive">

      <table id="example-checkbox" class="dataTable striped border bordered" data-role="datatable" cellspacing="0" width="100%" >
        <thead>
          <tr role="row">
            <th>Skin</th>
            <th>Name</th>
            <th>Exterior</th>
            <td style="display: none;"></td>

            <th>Price($)</th>
          </tr>
        </thead>
        <tbody>
  <% for(var i = 0; i<inv.length; i++){ %>
    <!-- Table Card -->

    				<tr>
    					<td><img src=<%= inv[i].icon_url %> alt="" style="width: 50px; height: 50px;"></td>
    					<td><%= inv[i].name %></td>
              <td style="display: none;"><%= inv[i].assetid %></td>

              <% if(inv[i].exterior == false){ %>
                <td><%= 'None' %></td>
              <% }else if(inv[i].exterior.substr(0,25).length >= inv[i].exterior.length){ %>
                <td><%= inv[i].exterior %></td>
              <% }else if(inv[i].exterior.substr(0,25).length <= inv[i].exterior.length){ %>
                <td><%= inv[i].exterior.substr(0,25) + '...' %></td>
              <% } %>

    					<td><%= inv[i].price %></td>
    				</tr>



  <% } %>

  <!--  -->




  <!--  -->
</tbody>
</table>
</div>
</div>
</div>

<!--  -->

        </div>
    </div>

    <!-- Card body -->
    <div class="pmd-card-title">
        <h2 class="pmd-card-title-text">Total inventory price: <%= total_inv %></h2>
        <span class="pmd-card-subtitle-text">Last Log-on: <%= time %></span>
    </div>
    <div class="pmd-card-title">
        <h2 class="pmd-card-title-text">Trade Link</h2>
        <p><a href="http://steamcommunity.com/id/top_trader_mlg_howl/tradeoffers/privacy#trade_offer_access_url" target="_blank">Get Trade Link</a></p>
        <% if(tradel){ %>
        <span class="pmd-card-subtitle-text"><input id="link_input" type="text" name="link" value=<%= 'https://steamcommunity.com/tradeoffer/new/?partner='+tradel.partner+'&token='+tradel.token %> style="color: black; width: 45%" disabled></span>
        <button id="savelink" disabled>Save TradeLink</button>

        <% }else{ %>
          <span class="pmd-card-subtitle-text"><input id="link_input" type="text" name="link" placeholder='https://steamcommunity.com/tradeoffer/new/?partner=xxxxxxxxx&token=xxxxxxxx' style="width: 45%; color: black;"></span>
          <button id="savelink">Save TradeLink</button>

        <% } %>
    </div>

    <!-- <div class="pmd-card-body">
        Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.
    </div>

    <div class="pmd-card-actions">
        <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">share</i></button>
        <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">thumb_up</i></button>
        <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">drafts</i></button>
    </div>

    <div class="pmd-card-actions">
        <button class="btn pmd-btn-flat pmd-ripple-effect btn-primary" type="button">Primary</button>
        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-default">Action</button>
    </div> -->
</div>
</div>

<script type="text/javascript" src="main/js/app_account.js"></script>
<!-- Datatable Bootstrap -->

<!-- Datatable select js-->

<% } else {%>
	<h1>Please log in!</h1>
<% } %>
<!--Default card ends -->

<!-- <div class="pmd-content" id="content">
	<% if(user){ %>
	<h1>It works! <%= user._json.personaname %></h1>
	<% } else {%>
	<h1>Please log in! (ACCOUNT)</h1>
	<% } %>
</div> -->
<%+ endSection %>
