<%+ extend('template') %>

<%+ section('content') %>
<div class="container" style="border: 2px dashed #000; padding: 10px;" >
<p>Site name:</p>
<input type="text" id="site_n"  placeholder=<%= site_name %>>
<button id="save">Save</button>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
$("#save").click(function(){
$.ajax({
    url: '/change_sn',
    type: 'GET',
	data: {data: $("#site_n").val()},
    success: function(msg){
		 notie.alert({
      type: 1,
      text: msg.info,
      stay: false, // optional, default = false
      time: 3,
      position: 'top'
    })
	setTimeout(function(){location.reload()}, 2000);

     


    }
  })
});
</script>
<%+ endSection %>