<%+ extend('template') %>

<%+ section('content') %>
<style>
.notie-container {
  z-index: 999;
}
</style>
<% if(user){ %>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.0/css/select.dataTables.min.css">
<link rel="stylesheet" href="http://propeller.in/components/data-table/css/pmd-datatable.css">
<div class="">
<!-- Default card starts -->
<div class="pmd-card pmd-card-default pmd-z-depth">

<!-- Card header -->
	<div class="pmd-card-title">
			<div class="media-left">
					<a class="avatar-list-img" href="javascript:void(0);">
							<img src=<%= user._json.avatar%> width="40" height="40">
					</a>
			</div>
			<div class="media-body media-middle">
					<a target="_blank" href=<%= user._json.profileurl%>><h3 class="pmd-card-title-text"><%= user.displayName %> </h3></a>
					<span class="pmd-card-subtitle-text"><%= user._json.steamid %></span>
			</div>
	</div>

	<!-- Card media -->
	<div class="pmd-card-media scrollbar" id="style-4" style="height: 400px;overflow: auto;">
			<div style="overflow-y:auto;">
<!--  -->

<div class="pmd-card pmd-z-depth" >

	<div class="table-responsive">

		<table id="example-checkbox" class="table pmd-table table-hover table-striped display responsive nowrap"  cellspacing="0" width="100%" >
			<thead>
				<tr>
					<th></th>
					<th>Skin</th>
					<th>Name</th>
					<th>Exterior</th>
					<td style="display: none;"></td>

					<th>Price($)</th>
				</tr>
			</thead>
			<tbody>
<% for(var i = 0; i<inv.length; i++){ %>
	<!-- Table Card -->

					<tr>
						<td></td>
						<td><img src=<%= inv[i].icon_url %> alt="" style="width: 50px; height: 50px;"></td>
						<td><%= inv[i].name %></td>
						<td style="display: none;"><%= inv[i].assetid %></td>

						<% if(inv[i].exterior == false){ %>
							<td><%= 'None' %></td>
						<% }else if(inv[i].exterior.substr(0,25).length >= inv[i].exterior.length){ %>
							<td><%= inv[i].exterior %></td>
						<% }else if(inv[i].exterior.substr(0,25).length <= inv[i].exterior.length){ %>
							<td><%= inv[i].exterior.substr(0,25) + '...' %></td>
						<% } %>

						<td><%= inv[i].price %></td>
					</tr>



<% } %>

<!--  -->




<!--  -->
</tbody>
</table>
</div>
</div>

<!--  -->

			</div>
	</div>
	<div class="pmd-card-title">
		<button id="something" class="btn pmd-btn-outline pmd-ripple-effect btn-success">DEPOSIT</button>

	</div>
	<!-- Card body -->
	<div class="pmd-card-title">
			<h2 class="pmd-card-title-text">Total inventory price: <%= total_inv %></h2>

	</div>


	<!-- <div class="pmd-card-body">
			Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.
	</div>

	<div class="pmd-card-actions">
			<button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">share</i></button>
			<button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">thumb_up</i></button>
			<button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">drafts</i></button>
	</div>

	<div class="pmd-card-actions">
			<button class="btn pmd-btn-flat pmd-ripple-effect btn-primary" type="button">Primary</button>
			<button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-default">Action</button>
	</div> -->
</div>
</div>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<!-- Datatable Bootstrap -->
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

<!-- Datatable select js-->
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>
<script type='text/javascript' src='main/js/app_deposit.js'></script>

<% } else {%>
<h1>Please log in!</h1>
<% } %>
<!--Default card ends -->

<!-- <div class="pmd-content" id="content">
<% if(user){ %>
<h1>It works! <%= user._json.personaname %></h1>
<% } else {%>
<h1>Please log in! (ACCOUNT)</h1>
<% } %>
</div> -->
<%+ endSection %>
