<%+ extend('template') %>

<%+ section('content') %>
<div class="pmd-content" id="content">
	<% if(user){ %>
	<h1>It works! <%= user._json.personaname %></h1>
	<% } else {%>
	<h1>Please log in!</h1>
	<% } %>
</div>
<%+ endSection %>
