/*html{
  background-image: url("../images/bg.png");
      background-repeat: repeat;

}
nav{
  background-color: transparent;
}*/
.item{
  margin-top: 2rem; 
  height: 7rem;
  border: 2px solid black;
}
.selected{
  border: 5px solid green;
}
